:root {
  --primary-color: #016a70;
  --text-color: #393e46;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
ul {
  list-style: none;
}
.section-titel {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 80px;
}
.section-titel p {
  font-size: 28px;
}
header {
  background-color: var(--primary-color);
}
nav {
  padding-top: 48px;
  padding-bottom: 48px;
}
nav .container {
  margin-left: 8%;
  margin-right: 8%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 25px 40px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}
nav .logo {
  height: 30px;
}
nav .logo img {
  max-height: 100%;
}
nav ul {
  display: flex;
  gap: 52px;
}
nav li {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color);
}
nav li.active,
nav li:hover {
  color: var(--primary-color);
}
@media (max-width: 700px) {
  nav .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  nav ul {
    gap: 20px;
  }
}
main {
  padding: 40px 9%;
  color: white;
}
main .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .row .col-1 {
  flex-basis: 60%;
}
main .row h3 {
  font-weight: 600;
}
main .row p {
  margin-bottom: 40px;
  font-size: 13px;
}
main .button {
  display: inline-block;
  padding: 8px 20px;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 300ms ease-in-out;
}
main .button:hover {
  background-color: #fff;
  color: var(--primary-color);
  box-shadow: 0 0 4px 2px rgb(0 0 0 / 25%);
}
main .row .col-2 {
  flex-basis: 40%;
}
main .row img {
  min-width: 100%;
  max-width: 100%;
}
@media (max-width: 798px) {
  main .row {
    display: block;
    text-align: center;
  }
  main .row .col-2 {
    display: none;
  }
}
.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 100px;
  margin-top: 74px;
  margin-bottom: 74px;
  color: var(--text-color);
  padding-left: 8%;
  padding-right: 8%;
}
.client span {
  font-size: 48px;
  font-weight: 600;
}
.client h3 {
  padding-top: 10px;
}

@media (max-width: 798px) {
  main .row {
    display: block;
    text-align: center;
  }
  main .row .col-2 {
    display: none;
  }
  .clients {
    flex-direction: column;
  }
}
.category {
  padding: 15px 8%;
  margin-bottom: 150px;
}
.category .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 50px;
  color: var(--text-color);
}

.category .cart {
  border-radius: 20px;
  padding: 45px 75px;
  box-shadow: 0 5px 4px rgb(0 0 0 / 25%);
}

.category .cart img {
  width: 80px;
  margin-bottom: 32px;
}

.offres {
  padding: 15px 8%;
}
.offres .row {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}
.product {
  border-radius: 20px;
  overflow: hidden;
  transition: 300ms;
  cursor: pointer;
}
.product img {
  max-width: 100%;
}
.product:hover img {
  transition: 300ms ease-in-out;
  transform: translateY(-50px);
}
.product .discription {
  padding: 15px 28px;
  color: white;
  position: relative;
  z-index: 100;
  background-color: var(--primary-color);
}
.product .discription h5 {
  margin-bottom: 10px;
}
