:root {
  --primary-color: #016a70;
  --text-color: #393e46;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
ul {
  list-style: none;
}
.section-titel {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 80px;
}
.section-titel p {
  font-size: 28px;
}
header {
  background-color: var(--primary-color);
}
nav {
  padding-top: 48px;
  padding-bottom: 48px;
}
nav .container {
  margin-left: 8%;
  margin-right: 8%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 25px 40px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}
nav .logo {
  height: 30px;
}
nav .logo img {
  max-height: 100%;
}
nav ul {
  display: flex;
  gap: 52px;
}
nav li {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color);
}
nav li.active,
nav li:hover {
  color: var(--primary-color);
}
@media (max-width: 700px) {
  nav .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  nav ul {
    gap: 20px;
  }
}
main {
  padding: 40px 9%;
  color: white;
}
main .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .row .col-1 {
  flex-basis: 60%;
}
main .row h3 {
  font-weight: 600;
}
main .row p {
  margin-bottom: 40px;
  font-size: 13px;
}
main .button {
  display: inline-block;
  padding: 8px 20px;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 300ms ease-in-out;
}
main .button:hover {
  background-color: #fff;
  color: var(--primary-color);
  box-shadow: 0 0 4px 2px rgb(0 0 0 / 25%);
}
main .row .col-2 {
  flex-basis: 40%;
}
main .row img {
  min-width: 100%;
  max-width: 100%;
}
@media (max-width: 798px) {
  main .row {
    display: block;
    text-align: center;
  }
  main .row .col-2 {
    display: none;
  }
}
.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 100px;
  margin-top: 74px;
  margin-bottom: 74px;
  color: var(--text-color);
  padding-left: 8%;
  padding-right: 8%;
}
.client span {
  font-size: 48px;
  font-weight: 600;
}
.client h3 {
  padding-top: 10px;
}

@media (max-width: 798px) {
  main .row {
    display: block;
    text-align: center;
  }
  main .row .col-2 {
    display: none;
  }
  .clients {
    flex-direction: column;
  }
}
.category {
  padding: 15px 8%;
  margin-bottom: 150px;
}
.category .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 50px;
  color: var(--text-color);
}

.category .cart {
  border-radius: 20px;
  padding: 45px 75px;
  box-shadow: 0 5px 4px rgb(0 0 0 / 25%);
}

.category .cart img {
  width: 80px;
  margin-bottom: 32px;
}
@media (max-width: 970px) {
  .category .row {
    grid-template-columns: 1fr;
  }
}

.offres {
  padding: 15px 8%;
}
.offres .row {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 770px) {
  .offres .row {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 638px) {
  .offres .row {
    grid-template-columns: 1fr;
  }
}
.product {
  border-radius: 20px;
  overflow: hidden;
  transition: 300ms;
  cursor: pointer;
}
.product img {
  max-width: 100%;
}
.product:hover img {
  transition: 300ms ease-in-out;
  transform: translateY(-50px);
}
.product .discription {
  padding: 15px 28px;
  color: white;
  position: relative;
  z-index: 100;
  background-color: var(--primary-color);
}
.product .discription h5 {
  margin-bottom: 10px;
}
.testimoni {
  padding: 80px 8%;
  overflow: hidden;
}
.testimoni .row {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  align-items: center;
  color: var(--text-color);
  perspective: 400px;
}
.testimoni .section-titel {
  text-align: start;
  width: 300px;
}
@media (max-width: 1200px) {
  .testimoni .row {
    display: block;
  }
  .testimoni .section-titel {
    text-align: center;
    width: 100%;
  }
}
.testimoni .col-2 {
  position: relative;
  height: 329px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transition: all 300ms ease 0s;
}
.testimoni .comment {
  padding: 40px;
  height: 280px;
  max-width: 510px;
  position: absolute;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  color: #5e6282;
  opacity: 0.5;
  transition: 300ms ease-in-out;
}
.testimoni .center {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  box-shadow: 0px 2.12px 3.61px 0px #00000001, 0px 9.35px 7.48px 0px #00000002,
    0px 22.94px 14.91px 0px #00000003, 0px 44.18px 29.23px 0px #00000003,
    0px 74.34px 53.74px 0px #00000004, 0px 114.69px 91.76px 0px #00000005;
}
.testimoni .left {
  transform: translate3d(-250px, 0, -200px);
}
.testimoni .right {
  transform: translate3d(350px, 0, -200px);
}
.testimoni .owner {
  margin-top: auto;
}
.testimoni .dots {
  display: flex;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  position: absolute;
  gap: 20px;
}
.testimoni .dots > div {
  width: 12px;
  height: 12px;
  background: #8e8e8e;
  border-radius: 50%;
  &.active {
    background: #565656;
  }
}
.colab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  gap: 85px;
  padding: 20px 8%;
}
.colab img {
  max-height: 100%;
}
.localisation {
  padding: 80px 8%;
}
.localisation .row {
  display: flex;
  gap: 100px;
}
.localisation .col-1 {
  flex-basis: 40%;
}
.localisation .col-2 {
  flex-basis: 40%;
  align-self: flex-end;
}
.localisation .col-2 .section-titel {
  text-align: start;
  margin-bottom: 0;
}
.localisation .local-discription {
  color: #393e46;
  margin: 10px 0;
}
.localisation input {
  padding: 18px 40px;
  border: 2px solid #393e46;
  border-radius: 8px;
  width: 100%;
}
.localisation iframe {
  width: 100%;
  height: 400px;
}

footer {
  padding: 20px 8% 0;
  color: white;
  background: var(--primary-color);
}
footer .row {
  display: grid;
  gap: 80px;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}
footer .col-1 img {
  max-width: 80px;
}
